*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.one{
    background-color: red;
    width: 100%;
    height: 60px;
    position: relative;
}
.two{
    background-color: rgb(5, 86, 66);
    width: 100%;
    height: 620px;
    
    
}
.three{
    
    width: 80%;
    height: 580px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 0.111px solid rgb(206, 190, 190);
    padding-top: 70px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);

    
    

}
.four{
    background-color:seashell;
    width: 80%;
    height: 900px;
    margin: auto;
    background-color: white;
    border: 0.111px solid rgb(206, 190, 190);
    position: relative;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);

    
   
    
}
.five{
    background-color: grey;
    width: 80%;
    height: 500px;
    margin: auto;
    
}

.six{
    background-color: #323030;
    width: 80%;
    height: 30px;
    margin: auto;
    
}
#logo{
    margin-left: 150px;
    margin-top: 15px;
}
#butt{
   transform: skewX(-12deg);
   padding: 6px 22px !important;
   margin-left: 65px;
   position: absolute;
   margin-top: 15px;
    
}
#butt2{
   transform: skewX(-12deg);
   padding: 6px 22px !important;
   margin-left: 165px;
   position: absolute;
   margin-top: 15px;

}
#butt3{
    transform: skewX(-12deg);
    padding: 6px 22px !important;
    margin-left: 300px;
    position: absolute;
    margin-top: 15px;
}
#butt4{
    transform: skewX(-12deg);
    padding: 6px 22px !important;
    margin-left: 450px;
    position: absolute;
    margin-top: 15px;
}
#butt5{
    transform: skewX(-12deg);
    padding: 6px 22px !important;
    margin-left: 621px;
    position: absolute;
    margin-top: 15px;
}
#main{

}
#bat1{
    height: 360px;
    width: 350px;
    position: absolute;
    left: 220px;
}
#bat2{
    height: 360px;
    width: 350px;
    position: absolute;
    left: 565px;

}
#virat{
    transform: skewX(-20deg);
    padding: 17px 4px;
    letter-spacing: 0px;
    font-weight: 600;
    color: black;
    border: 0px;
    font-size: 15px;
    position: absolute;
    margin-top: 374px;
    left: 250px;
    background-color: #ededed;
    border: none;
    border-right: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    cursor: pointer;
   
    
}
#kashmir{
    transform: skewX(-20deg);
    padding: 17px 4px;
    letter-spacing: 0px;
    font-weight: 600;
    color: black;
    border: 0px;
    font-size: 15px;
    position: absolute;
    margin-top: 374px;
    left: 600px;
    background-color: #ededed;
    border: none;
    border-right: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    cursor: pointer;

}
#red1{
    transform: skewX(-20deg);
    padding: 8px 11px;
    letter-spacing: 0px;
    font-weight: 600;
    color: white;
    border: 0px;
    font-size: 15px;
    position: absolute;
    margin-top: 414px;
    left: 368px;
    background-color: red;
    border: none;
    border-right: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    cursor: pointer;

}
#red2{
    transform: skewX(-20deg);
    padding: 8px 11px;
    letter-spacing: 0px;
    font-weight: 600;
    color: white;
    border: 0px;
    font-size: 15px;
    position: absolute;
    margin-top: 414px;
    left: 718px;
    background-color: red;
    border: none;
    border-right: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    cursor: pointer;

}
.kit{
    width: 28%;
    height: 49.5%;
    border: 0.1px solid #D3D3D3;
    margin-left: 7.5%;
    margin-top: 0.4%;
    padding-bottom: 70px;
    padding-top: 35px;
}
#para1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 250;
    position: absolute;
    left: 120px;
    top: 400px;
}
#kit2{
    width: 28%;
    height: 49.5%;
    border: 0.1px solid #D3D3D3;
    margin-left: .5%;
    margin-top: 
    padding-bottom: 70px;
    padding-top: 35px;

}
#para2{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 250;
    position: absolute;
    left: 440px;
    top: 400px;

}
#kit3{
    width: 28%;
    height: 49.5%;
    border: 0.1px solid #D3D3D3;
    margin-left: .5%;
    
    padding-bottom: 70px;
    padding-top: 35px;

}
#para3{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 250;
    position: absolute;
    left: 820px;
    top: 400px;

}
p2{
    position: absolute;
    top: 460px;
    left: 88px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 250;
    border: 0.1px solid #D3D3D3;
    padding-top: 170px;
    padding-bottom: 210px;
    padding-left: 70px;
    padding-right: 130px;
}
#arrow{
    position: absolute;
    top: 654px;
    left: 300px;
}
#inner1{
    width: 700px;
    height: 320px;
    background-color:#d02c34;
    position: absolute;
    top: 2235px;
    left: 590px;


}
h3{
    margin-left: 220px;
    margin-top: 10px;
    font-size: 30px;
    font-family: sans-serif ;
    font-weight: lighter;
    color: white;
    
    letter-spacing: 2px;
}
#inner2{
    width: 305px;
    height: 264px;
    margin-top: 12px;
    margin-left: 5px;
    background-color: #383434;
}
#last{
    width: 390px;
    height: 264px;
    position: absolute;
    top: 57px;
    left: 310px;
}
h5{
    color: #f8f6f0;
    font-size: 25px;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: lighter;
    text-align: center;
    padding-top: 50px;

}
h6{
    color: #f8f6f0;
    font-size: 15px;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: lighter;
    text-align: center;
    padding-top: 14px;

}
#label{
    color: gray;
    background-color:#383434 ;
    border: 1px solid white;
    margin-top: 25px;
    margin-left: 10px;
    width: 283px;
    height: 50px;
    font-size: 19px;
    text-align: center;
    border-radius: 4px;
    

}
p4{
    font-size: 40px;
    color: #c8c4c4;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: lighter;
    letter-spacing: 1px;
    position: absolute;
    top: 2240px;
    left: 180px;
}
p5{
    font-size: 31px;
    color: #d02c34;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: lighter;
    
    position: absolute;
    top: 2290px;
    left: 180px;
    
}
.line{
    background-color: #c8c4c4;
    border: none;
    height: .5px;
    width: 25.5%;
    position: absolute;
    left: 180px;
    top: 2346px;

}
p6{
    color: #c8c4c4;
    position: absolute;
    top: 2370px;
    left: 180px ;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: ;
    text-align: justify;
    hyphens: auto;
}
p8{
    position: absolute;
    top: 2670px;
    left: 175px;
    color: #c8c4c4;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
p9{
    position: absolute;
    top: 2670px;
    left: 975px;
    color: #c8c4c4;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
}

